<ion-view title="Auswertung der Daten">

    <ion-content padding="true">

        <div id="information">

            <h3>Wie werden die Daten aufbereitet</h3>

            <p>
                Nach der Eingabe eurer Daten werden diese im Hintergrund der App verarbeitet, ausgewertet und es werden zwei Werte berechnet, die etwas über die Wasserqualität und die Landschaftsökologie aussagen.
            </p>

            <h4>
        Landschaftsökologische Beurteilung
        </h4>

            <p>Für die landschaftsökologische Beurteilung werden den Bächen bei 10 Kriterien Punkte von 1-3 verteilt. Dabei entspricht 1 einem völlig natürlichen Fluss, 2 einem leicht vom Menschen beinflussten Gewässer und drei einem stark beeinflussten Fluss.</p>

            <p>Aus dem Mittelwert dieser Werte ergibt sich ein Wert zwischen 1 und 3. Je tiefer der Wert, desto natürlicher ist das Gewässer.</p>

            <h4>
        Bestimmung der Gewässerqualität
        </h4>

            <p>Das Verfahren geht von zwei Dingen aus, die zur Berechnung der Wasserqualität gebraucht werden:
            </p>


            <ol>

                <li>Je mehr verschiedene Tierarten in einem Bach oder Fluss gefunden werden, desto besser ist die Gewässerqualität.</li>


                <li>Verschiedene Leitformen haben verschiedene Ansprüche. Einige brauchen saubereres Wasser als andere Leitformen. Je anspruchsvoller die Leitformen, desto besser ist die Wasserqualität.</li>

            </ol>

            <p>
                Die beiden Werte werden miteinander verglichen und verrechnet. Interessierte finden das genaue Verfahren in der Broschüre "Bionidikation Fliessgewässer" von GLOBE Schweiz.
            </p>


        </div>

        <div id="speichern">

            <ul>
                <li>
                    <a class="button button-positive" href="#/tab/information">Zurück</a>
                </li>
            </ul>

        </div>


    </ion-content>
</ion-view>
