<ion-view title="Allgemeine Daten">

    <ion-content padding="true">

        <body>

            <p>Trage hier die allgemeinen Daten des Gewässers ein:</p>

            <div id="general">

                <div class="list">

                    <form name="general_form" class="css-form" novalidate>

                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Name des Baches</span>
                            <input type="text" placeholder="Musterbach" name="rivername" ng-model="rivername" required>
                            <div class="error" ng-show="general_form.rivername.$dirty && general_form.rivername.$invalid">
                                <small class="error" ng-show="general_form.rivername.$error.required">
                                Dies ist ein Pflichtfeld </small>
                            </div>
                        </label>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Name der Organisation oder Schule</span>
                            <input type="text" placeholder="Musterorganisation" name="organisation" ng-model="organisation" required>
                            <div class="error" ng-show="general_form.organisation.$dirty && general_form.organisation.$invalid">
                                <small class="error" ng-show="general_form.organisation.$error.required">
                                Dies ist ein Pflichtfeld </small>
                            </div>
                        </label>

                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Kommentare</span>
                            <textarea type="text" placeholder="Besondere Umstände, kürzliche extreme Wettereinflüsse, Bauarbeiten, andere Umwelteinflüsse, etc..." ng-model="comments" style="height: 200px"></textarea>
                        </label>

                    </form>
                    
                </div>

                <div id="speichern">

                    <ul>
                        <li>

                            <a type="submit" ng-disabled="general_form.$invalid" class="button button-positive" ng-click="getPosition(); getDate(); allgemeinSpeichern(rivername, organisation, comments)" >Weiter</a>
                            <a class="button button-positive" href="javascript:history.go(-1)">Zurück</a>
                            <a class="button button-positive" ng-click="Abbrechen()">Abbrechen</a>
                        </li>
                    </ul>

                </div>
            </div>

        </body>
    </ion-content>
</ion-view>
