<ion-view title="Informationen">

    <ion-content padding="true">

        <p>
            Auf den folgenden Seiten findest du Leitfragen, welche dir helfen, über das im Feld gelernte Nachzudenken, Informationen zur Auswertung der eingegebenen Daten und verschiedene interessante Links.
        </p>

        <ul>

            <li>
                <a class="button button-positive" href="#/tab/leitfragen">Leitfragen</a>
            </li>
            <li>
                <a class="button button-positive" href="#/tab/auswertung">Auswertung der Daten</a>
            </li>
            <li>
                <a class="button button-positive" href="#/tab/links">Links</a>
            </li>

        </ul>




    </ion-content>
</ion-view>
