<ion-view title="Leitfragen">

    <ion-content padding="true">

        <div id="information">

            <h3>Leitfragen nach dem Feldeinsatz</h3>

            <p>Vertieft und diskutiert eure Erkenntnisse mit Hilfe folgender Leitfragen:</p>

            <ul>

                <li>Welche Bedeutung hat ein natürlicher Bach/Fluss als Lebensraum für Pflanzen und Tiere?</li>
                <li>Wie sieht es diesbezüglich mit dem kanalisierten und/oder stark verschmutzten Bach/Fluss aus?</li>
                <li>Worin liegt der ökologische und landschaftliche Wert eines Naturbaches/-flusses?</li>
                <li>Welche Massnahmen können allenfalls eine Verbesserung der Verhältnisse bewir-ken?</li>
                <li>Was kann jeder Einzelne oder können wir als Klasse zur Realisierung solcher Massnahmen beitragen?</li>
                <li>Würdet ihr in diesem Gewässer ein Bad nehmen?</li>
                <li>Welche Politik wird gegenwärtig verfolgt hinsichtlich der Entwicklung dieses Ba-ches/Flusses?</li>
                <li>Welche Visionen (in 20 Jahren) könnt ihr für dieses Gewässer entwickeln?</li>
                <li>Wer ist in eurer Gemeinde oder Region ist verantwortlich für Entscheidungen, wel-che dieses Gewässer betreffen?</li>
                <li>Welche Gruppen (Industrie, Wasserversorgung, Elektrizitätswerke, Wassernutzer, Landwirtschaft, Erholung und Freizeit, Naturschutzorganisationen, Fischer, ...) haben Interessen und Erwartungen bezüglich dieses Gewässers? Welches sind ihre Erwartungen?</li>


            </ul>


        </div>




        <div id="speichern">

            <ul>
                <li>
                    <a class="button button-positive" href="#/tab/information">Zurück</a>
                </li>
            </ul>

        </div>



    </ion-content>
</ion-view>
