<ion-view title="Links">

    <ion-content padding="true">

        <div>

            <p>folgende Links findest du einige weiterführende Links zum Thema Bioindikation Fliessgewässer:</p>

            <ul>
                
                
                
                <li><a class="button button-positive" id="Globe" name="http://www.globe-swiss.ch/de/"  ng-click="openLink('Globe')">Globe Schweiz</a> </li>
                
                <p>Auf der Seite von Globe Schweiz findest du viele interessante Informationen sowie Lehr-, Lern- und Forschungsmaterial im Bereich Erdsystemwissenschaften.</p>
                
                <li><a class="button button-positive" id="Handbuch" name="http://www.globe-swiss.ch/media-global/Attachements/Downloads/11/Download/GLOBE_Bioindikation_d2013.pdf" ng-click="openLink('Handbuch')">Anleitung Bioindikation (pdf)</a> </li>
                
                 <p>Grundlage für diese App ist diese Anleitung. Interessierte finden detaillierte Informationen zum Verfahren "Bioindikation Fliessgewässer".</p>
                
                <li><a class="button button-positive" id="WebGIS" name="http://swissparks.maps.arcgis.com/apps/OnePane/basicviewer/index.html?appid=8e34e064194740518e91f5003de12f54" ng-click="openLink('WebGIS')">WebGIS</a> </li>
                
                <p>Auf dem WebGIS werden alle Daten, welche im Bereich "Bioindikation Fliessgewässer" mit dieser App oder mit Hilfe der Papier-Anleitung aufgenommen werden, auf einer Schweizer Karte dargestellt. Findest du deine Messpunkte?</p>
                
                <li><a class="button button-positive" id="Park" name="http://www.paerke.ch/" ng-click="openLink('Park')">Netzwerk Schweizer Pärke</a> </li>
                   
                <p>Das Netzwerk Schweizer Pärke unterstützt das Angebot von Globe Schweiz zum Thema Fliessgewässer.</p>
                
                 <li><a class="button button-positive" id="Registration" name="http://www.globe-swiss.ch/de/Uber_GLOBE/Kontakt/Formular/?Title=Anmeldung+Bioindikation%3A+Bach+und+Fluss&Text=Hier+melden+Sie+sich+zur+Datenbank+Bioindikation+Bach+und+Fluss+an.+Nach+der+Anmeldung+erhalten+Sie+ein+Passwort." ng-click="openLink('Registration')">Registration</a> </li>
                   
                <p>Wenn du deine hochgeladenen Daten im WebGIS bearbeiten willst, musst du dich zuerst registrieren. Du bekommst nach der Registration ein Passwort zugeschickt.</p>
                
            
            </ul>

        </div>
        

        <div id="speichern">

            <ul>
                <li>
                    <a class="button button-positive" href="#/tab/information">Zurück</a>
                </li>
            </ul>

        </div>


    </ion-content>
</ion-view>
