<ion-view title="Uferbewuchs" >

    <ion-content padding="true">

        <p>Beurteile den Bach nach folgenden Kriterien:</p>

        <div id="river">

            <ul>

                <li>

                    <img src="img/riverGross/8.1.JPG">

                    <a class="button button-block button-positive" ng-click="speichern(1)" href="#/tab/river9">
                natürlich und vielfältig (Bäume, etc.)
            </a>
                </li>
                <li>

                    <img src="img/riverGross/8.2.JPG">

                    <a class="button button-block button-positive" ng-click="speichern(2)" href="#/tab/river9">
                künstlich angelegt, recht einheitlich 
            </a>
                </li>
                <li>

                    <img src="img/riverGross/8.3.JPG">

                    <a class="button button-block button-positive" ng-click="speichern(3)" href="#/tab/river9">
               fehlend, bewirtschaftete Flächen 
            </a>
                </li>

            </ul>
        </div>

        <ul>

            <li>
                <div id="speichern">

                    <a class="button button-positive" href="#/tab/river7" ng-click="loeschenLandschaft()">Zurück</a>
                    <a class="button button-positive" ng-click="Abbrechen()">Abbrechen</a>

                </div>

            </li>

        </ul>

    </ion-content>
</ion-view>
