<ion-view title="Tutorial">

    <ion-content padding="true">

        <div id="videos" style="margin-bottom: 100px">

            <p>Schaue dir diese Tutorials der Reihe nach genau an, damit du weisst, wie du bei den Probenahmen vorgehen musst. Nachdem du deine Proben genommen hast, schaust du dir das letzte Video an, damit du die Daten richtig auswertest und in das App eingibst:</p>

            <ul>
                <li>
                    <a class="button button-positive" href="#/tab/video1">Material</a>
                </li>
                <li>
                    <a class="button button-positive" href="#/tab/video2">Probennahme Allgemein</a>
                </li>
                <li>
                    <a class="button button-positive" href="#/tab/video3">Probennahme Gestein</a>
                </li>
                <li>
                    <a class="button button-positive" href="#/tab/video4">Probennahme Kies</a>
                </li>
                <li>
                    <a class="button button-positive" href="#/tab/video5">Probennahme Sand</a>
                </li>
                <li>
                    <a class="button button-positive" href="#/tab/video6">Probennahme Pflanzen</a>
                </li>
                <li>
                    <a class="button button-positive" href="#/tab/video7">Daten auswerten und eintragen</a>
                </li>
                
            </ul>





        </div>

        <div id="speichern" margin="0 15 0 0">

            <ul>
                <li>
                    <a class="button button-positive" href="javascript:history.go(-1)">Zurück</a>
                    <a class="button button-positive" href="#/tab/general" ng-click>zur Datenaufnahme</a>
                    <a class="button button-positive" href="#/tab/home">Home</a>
                </li>
            </ul>

        </div>


    </ion-content>
</ion-view>

