<ion-view title="Material">

    <ion-content padding="true">

        <div>

            <ul>
            
                <li>
                
                <video height="auto" width="80%" controls>
                    <source src="mov/video1.mp4" type="video/mp4">
                    
                    </video>
                
                </li>
            
            </ul>

        </div>

        <div id="speichern">

            <ul>
                <li>
                    <a class="button button-positive" href="#/tab/tutorial">Zurück</a>
                </li>
            </ul>

        </div>



    </ion-content>
</ion-view>
