content {
    padding: 0 0 40px 0;
}
img {
    max-width: 80%;
}
h2,
h3,
h4,
p {
    list-style: none;
    text-align: left;
    border-color: transparent;
    hyphens: auto;
}
p {
    text-align: justify;
    margin: 20px 0
}
ol,
ul,
ul li {
    text-align: center;
    margin: 20px 0;
}
h2,
h3 {
    padding: 20px 0;
    margin: 20px 0;
}

small {
    font-size: 10px;
    color: red;
    
}

#river ul li {
    border-bottom: solid;
    border-width: 1px;
    border-color: blue;
}

#bilder p {
    text-align: center;
}
#speichern ul li {
    text-align: center;
    margin: 20px 0;
}
#information ul li {
    list-style: disc;
    text-align: left;
    margin-left: 20px;
    padding-left: 10px;
}
#information ol li {
    list-style: decimal;
    text-align: left;
    margin-left: 20px;
    padding-left: 10px;
}
.css-form input.ng-invalid.ng-dirty {
    border: 2px solid #FA787E;
}
.css-form input.ng-valid.ng-dirty {
    border: 2px solid #78FA89;
}

